# Задача 1
## Скачать данные
## Считать данные с помощью pandas

In [51]:
import pandas as pd
import numpy as np

In [25]:
houses = pd.read_csv('kc_house_data.csv', encoding='windows-1251', index_col='id', parse_dates=['date'], dayfirst=False)

In [26]:
houses.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## 1.1 Создать новый признак price_per_sq_lot, который будет содержать среднюю стоимость за один кв. метр общей площади

In [27]:
df['price_per_sq_lot'] = df['price']/df['sqft_lot'].round(2)
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,price_per_sq_lot
id,,,,,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,0,1955,0,98178,47.5112,-122.257,1340,5650,0,39.274336
6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,0,74.288870
5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,...,0,1933,0,98028,47.7379,-122.233,2720,8062,0,18.000000
2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,910,1965,0,98136,47.5208,-122.393,1360,5000,0,120.800000
1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,0,1987,0,98074,47.6168,-122.045,1800,7503,0,63.118812

## 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома. Если реновации дома не было, то в новом признаке поставьте 0 Если реновации дома не было, то в новом признаке поставьте 0

In [30]:
houses['delta_renovated'] =  houses['yr_renovated'] - houses['yr_built']
houses.loc[houses['delta_renovated'] < 0, 'delta_renovated'] = 0
houses.sample(10)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
id,,,,,,,,,,,,,,,,,,,,,
114700150,2014-11-14,236000.0,3,1.75,1560,10919,1.0,0,0,3,...,1560,0,1975,0,98023,47.2917,-122.366,1730,10919,0
5101406375,2015-03-19,580000.0,3,1.75,1950,10633,1.0,0,0,3,...,1250,700,1978,0,98125,47.7019,-122.313,1290,6380,0
4139420370,2014-08-11,1760000.0,4,5.00,6055,21630,1.0,0,3,4,...,3555,2500,1996,0,98006,47.5524,-122.112,4890,19223,0
3342101785,2014-05-23,550000.0,3,2.50,2510,5400,2.0,0,0,3,...,2510,0,1992,0,98056,47.5204,-122.206,1840,5400,0
6669080020,2014-12-26,449400.0,4,3.00,2490,5064,2.0,0,0,3,...,2490,0,2007,0,98056,47.5139,-122.189,2470,5064,0
259601010,2015-04-14,485000.0,3,1.00,1250,7200,1.0,0,0,3,...,1250,0,1964,0,98008,47.6342,-122.120,1430,7400,0
7203150330,2014-07-17,669000.0,4,2.50,2470,4945,2.0,0,0,3,...,2470,0,2012,0,98053,47.6898,-122.015,2510,4988,0
4037200665,2014-08-13,415950.0,3,1.75,1150,7700,1.0,0,0,3,...,1150,0,1957,0,98008,47.6048,-122.121,1650,8000,0
1646500785,2014-12-15,499000.0,2,1.00,1450,3090,2.0,0,0,3,...,1450,0,1919,1987,98103,47.6853,-122.356,1450,4635,68
3626039299,2015-02-24,588000.0,3,1.00,1910,8167,1.0,0,0,4,...,1270,640,1951,0,98117,47.7004,-122.368,1500,6816,0

## 1.3 Создайте признаки года продажи, месяца продажи

In [32]:
houses['sale_year'] = houses['date'].dt.year
houses['sale_month'] = houses['date'].dt.month
houses.sample(5)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,sale_year,sale_month
id,,,,,,,,,,,,,,,,,,,,,
2023069054,2015-03-18,361550.0,3,1.75,1160,257875,1.0,0,0,2,...,1980,0,98059,47.4655,-122.072,1420,15450,0,2015,3
3528000140,2014-10-23,899000.0,4,2.50,3720,30649,2.0,0,0,3,...,1988,0,98053,47.6651,-122.056,3220,29434,0,2014,10
1023059324,2014-06-23,235000.0,3,1.00,1170,11100,1.0,0,0,4,...,1968,0,98059,47.4954,-122.164,2080,8481,0,2014,6
6632900452,2014-12-05,690500.0,4,2.75,3130,8920,2.0,0,0,3,...,2014,0,98155,47.7397,-122.316,1450,9183,0,2014,12
7130300170,2015-03-26,552000.0,4,2.75,3160,8429,1.0,0,3,4,...,1982,0,98178,47.5110,-122.251,1760,6780,0,2015,3

## 1.4 Удалите признаки date, zipcode, lat, long

In [35]:
houses.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)
houses.sample(5)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,sale_year,sale_month
id,,,,,,,,,,,,,,,,,,,
3205200480,421000.0,3,1.75,1100,8662,1.0,0,0,5,7,1100,0,1964,0,1100,9240,0,2015,4
1328300990,317000.0,3,1.75,1530,7650,1.0,0,0,4,8,1530,0,1977,0,1850,6804,0,2014,8
6815100095,510000.0,2,1.00,1310,4000,1.0,0,0,3,6,1310,0,1913,0,1550,4000,0,2014,12
644000185,875000.0,3,1.50,1820,12686,1.0,0,0,4,7,1820,0,1952,0,3020,11550,0,2014,7
7686204675,248000.0,4,1.00,1010,7515,1.0,0,0,4,6,1010,0,1955,0,1330,7515,0,2015,1

# Задача 2
## Создайте датафрейм с клиентами

In [38]:
clients = pd.DataFrame({ 'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474], 
                        'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196] })
clients.head()

   client_id    house_id
0       1459  8965450190
1       4684  6823100225
2       3498  5104540330
3       3942  2131701075
4       4535  1522700060

## 2.1 Присоедините к таблице clients данные по домам через метод join

In [39]:
clients_indexed = clients.set_index('house_id')
clients_indexed.join(houses).head()

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,sale_year,sale_month
339600110,4809,395000.0,3,2.50,1610,3755,2.0,0,0,3,7,1610,0,1987,0,1300,3823,0,2014,9
809001400,3113,925000.0,3,1.00,1630,3200,1.5,0,0,4,8,1630,0,1912,0,1710,3600,0,2014,9
825069097,1764,770000.0,3,2.50,2650,40705,2.0,0,0,3,9,2650,0,1994,0,2550,42625,0,2014,6
1099600250,2242,260000.0,3,1.75,1710,6400,1.0,0,0,4,7,1240,470,1976,0,1600,6400,0,2014,12
1189000207,2308,387000.0,2,2.50,1170,1394,2.0,0,0,3,8,1170,0,2001,0,1250,3136,0,2014,10

## 2.2 Присоедините к таблице clients данные по домам через метод merge
## Это нужно, чтобы понимать, какие дома покупались клиентами, house_id - это индексы датафрейма с домами

In [40]:
merge_clients = clients.merge(houses, left_on='house_id', right_on='id')
merge_clients.head()

,client_id,house_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,sale_year,sale_month
0,1459,8965450190,295000.0,3,2.50,1500,3060,2.0,0,0,...,7,1500,0,1994,0,2700,7734,0,2015,2
1,4684,6823100225,700000.0,4,1.75,1870,6000,1.0,0,0,...,8,1670,200,1949,0,1710,6000,0,2015,4
2,3498,5104540330,679000.0,4,2.50,3680,7236,2.0,0,0,...,10,3680,0,2006,0,3310,7180,0,2015,5
3,3942,2131701075,420000.0,3,1.75,1720,5000,1.5,0,0,...,8,1720,0,1932,2009,1410,8300,77,2014,12
4,4535,1522700060,518000.0,4,2.75,2520,14021,2.0,0,0,...,9,2520,0,1999,0,2330,14007,0,2014,6

# Задача 3
## Составьте несколько сводных таблиц

## 3.1 Найдите среднюю стоимость домов в зависимости от количества спален

In [44]:
grouped = houses.groupby('bedrooms')
grouped.agg({'price': 'mean'}).sort_values('price')

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

##  3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [45]:
grouped = houses.groupby('condition')
grouped.agg({'price': ['min', 'mean', 'max']})

              price
                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

## 3.3 Постройте таблицу с подсчетом количествадомов в данных в зависимости от вида  на набережную и оценкой вида

In [46]:
houses.pivot_table(index='waterfront', columns='view', aggfunc='count', values='price', fill_value=0)

view            0    1    2    3    4
waterfront
0           19489  331  955  491  184
1               0    1    8   19  135

## 3.4 Каких домов в зависимости от этажности и количества спален больше?

In [53]:
pd.crosstab(index= houses['floors'],
            columns=houses['bedrooms'])

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.0        4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.5        0   21   182   786   698  185   30   7   1   0   0   0   0
2.0        6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.5        0    1     5    56    58   23   14   2   0   2   0   0   0
3.0        2    3   123   405    61   13    5   1   0   0   0   0   0
3.5        1    0     2     4     0    0    0   0   1   0   0   0   0

## 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [54]:
houses.pivot_table(index = 'condition',
                  values = 'price',
                  columns = 'grade',
                  aggfunc = 'median',
                  fill_value = 0)

grade,1,3,4,5,6,7,8,9,10,11,12,13
condition,,,,,,,,,,,,
1,142000,0,150000,190000,255000,403500,932500,0,0,0,0,0
2,0,280000,145000,180000,235000,305000,429000,715000,1752500,0,0,0
3,0,75000,205000,234475,265000,357500,485000,689000,890000,1209500,1807500,2888000
4,0,0,238525,229975,295000,390000,571250,823500,1030000,1685000,2125000,5750000
5,0,262000,0,227450,285475,456000,696000,1078000,1650000,2050000,1990000,0